<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <section class="slice-xl page-title border-bottom has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/prv/shop/section-img-1.jpg);">
                        <div class="container mask-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="">
                                        <h3 class="heading heading-1 strong-600 text-capitalize mb-1">
                                            <span>Panier</span>
                                        </h3>

                                        <ol class="breadcrumb breadcrumb--style-2">
                                            <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
                                            <li class="breadcrumb-item"><a href="<%= items_path %>">Shop</a></li>
                                            <li class="breadcrumb-item"><a href="">Paiement</a></li>
                                        </ol>
                                    </div>

                                    <!-- Fluid text paragraph -->
                                    <div class="pb-4 mt-4">
                                        <p class="lead">
                                            Votre panier 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">

                            <div class="row justify-content-center">
                                <div class="col-lg-12 mt--150">
                                    <form class="form-default" data-toggle="validator" role="form">
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table-cart">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-image"></th>
                                                            <th class="product-name">Produit</th>
                                                            <th class="product-price d-none d-lg-table-cell">Prix</th>
                                                            <th class="product-quanity d-none d-md-table-cell">Quantité</th>
                                                            <th class="product-total">Total</th>
                                                            <th class="product-remove"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                         <% @cart.items.each do |item| %>
                                                        <tr class="cart-item">
                                                            <td class="product-image">
                                                                <a href="#">
                                                                    <img src="<%= item.image_url %>">
                                                                </a>
                                                            </td>

                                                            <td class="product-name">
                                                              <%= item.title %>  
                                                            </td>

                                                           

                                                            <td class="product-price d-none d-lg-table-cell">
                                                              <%= item.price %>€
                                                            </td>

                                                            <td class="product-quantity d-none d-md-table-cell">
                                                                <div class="input-group input-group--style-2 pr-4" style="width: 130px;">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-number" type="button" data-type="minus" data-field="quantity[1]" disabled="disabled">
                                                                            <i class="ion-minus"></i>
                                                                        </button>
                                                                    </span>
                                                                    <input type="text" name="quantity[1]" class="form-control input-number" placeholder="3" value="1" min="1" max="10">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-number" type="button" data-type="plus" data-field="quantity[1]">
                                                                             <i class="ion-plus"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="product-total">
                                                              <%= item.price %>€  <!-- *quantitty -->
                                                            </td>
                                                            <td class="product-remove">
                                                                <a href="<%= cart_remove_item_path(@cart.id,item) %>" class="text-right pl-4">
                                                                    <i class="ion-trash-a"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                <%end %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row align-items-center pt-5">
                                            <div class="col-6">
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="submit"  class="btn btn-styled btn-base-1" style="display:none;"></button>
                                                
                                            </div>
                                        </div>
                                    </form>
                                    <%= form_tag cart_checkout_path(@cart) do %>
                                        <article>
                                          <% if flash[:error].present? %>
                                            <div id="error_explanation">
                                              <p><%= flash[:error] %></p>
                                            </div>
                                          <% end %>
                                          <label class="amount">
                                            <span>A payer <%=@sum%> €</span>
                                          </label>
                                        </article> 
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button", style= "display:none;" 
                                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                            data-description="Montant total : <%=@sum.to_i%>"
                                            data-amount="<%@sum_cents%>"
                                            data-locale="auto">
                                            data-label="Confirmer votre commande"
                                        </script>
                                        <script>
                                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                        </script>
                                        <%= button_tag 'Confirmer votre commande', class:"btn btn-styled btn-base-1"%>
                                    <% end %></br>
                                    <a href="<%= items_path %>" class="link link--style-3">
                                        <i class="ion-android-arrow-back"></i>
                                        Return to shop
                                    </a>

                                     <button type="submit"  class="btn btn-styled btn-base-1" style="display:none;">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

