<!-- Login -->
  <li class="nav-item nav-item-icon">
      <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
    </a>

    <ul class="dropdown-menu dropdown-menu--right dropdown-form">
      <li>
        <% if user_signed_in? %>

          <li class="text-center py-3 b-xs-top">
            <%= link_to('Logout', destroy_user_session_path) %> 
          </li>
          <li class="text-center py-3 b-xs-top">
              <%= link_to('Mes commandes', orders_path) %> 
          </li>
          <li class="text-center py-3 b-xs-top">
              <%= link_to('Editer mon profil', edit_user_registration_path) %> 
          </li>


        <% else %>
        
        <div class="dropdown-form-inner">
          <div class="row align-items-center b-xs-bottom">
            <div class="col-7">
              <h3 class="heading heading-5 strong-400 text-capitalize pb-2">Sign in</h3>
            </div>
            <div class="col-5">
              <a href="#" class="btn-close-dropdown" data-toggle="dropdown">&times;</a>
            </div>
            </div>

            <div class="py-4">
            	<%= form_for("user", url: user_session_path, html: {class:'form-default'}) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control form-control-lg', placeholder:'Email' %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", class:'form-control form-control-lg', placeholder:'Password' %>
                </div>

                <div class="form-group mb-0">
                  <div class=" row align-items-center">
                    <div class="col-6">
                      <div class="checkbox">
                        <%= f.check_box :remember_me, id:'chkRemember' %>
                        <%= f.label :remember_me, class:'no-margin' %>
                      </div>
                    </div>
                    <div class="col-6 text-right">
                      <%= f.submit "Log in", class:'btn btn-base-1 btn-circle' %>
                    </div>
                  </div>
                </div>
  
              <% end %>

            </div>
               
        </div>
    </li>

    <li class="text-center py-3 b-xs-top">
        
            <%= link_to "Créer un compte", new_user_registration_path %>
        
    </li>

    <% end %>

    </ul>
  </li>