
        <!-- Cart -->
<% if user_signed_in? %>
        <li class="nav-item nav-item-icon dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i>
                <sup class="badge bg-base-1"><%= current_user.cart.items.count %></sup>
            </a>

            <ul class="dropdown-menu dropdown-menu--right px-0">
                <li>
                    <div class="dropdown-cart px-0">
    <div class="dc-header">
        <h3 class="heading heading-6 strong-600">Panier</h3>
    </div>
    <% current_user.cart.items.each do |item| %>
        <div class="dc-item">
        <div class="d-flex align-items-center">
            <div class="dc-image">
                <a href="#">
                    <img src="../../assets/images/prv/shop/accessories/img-1a.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="dc-content">
                <span class="d-block dc-product-name text-capitalize strong-600 mb-1">
                    <p></p>
                </span>

                <span class="dc-quantity"></span>
                <span class="dc-price"><%= item.price %></span>
            </div>
            <div class="dc-actions">
                <button>
                    <i class="ion-close"></i>
                </button>
            </div>
        </div>
    </div>
    <% end %>
    <div class="dc-item py-4">
        <% if current_user.cart.items.count != 0 %>
            <span class="subtotal-text">Total</span>
            <span class="subtotal-amount"><%= current_user.cart.items.sum(:price) %>€</span>
        <% end %>
    </div>
    <div class="py-4 text-center">
        <ul class="inline-links inline-links--style-3">
            <li class="pr-3">
                    <i class="ion-person"></i>
                <%= link_to  "Mes commandes", orders_path %>
            </li>
            <li class="pr-3">
                <i class="ion-bag"></i>
                <%= link_to  "Mon panier", cart_path(current_user.cart.id) %>
            </li>
        </ul>
    </div>
</div>
                </li>
            </ul>
        </li>
    <% end %>